header,
#top {
    position: relative;
    background-color: gray;
    height: 80px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: turquoise;
    width: 100%;
    z-index: -1;
}
a {
    float: right;
    padding: 10px;
    color: white;
}
#name {
    position: relative;
    float: left;
    background-color: turquoise;
    color: white;
    height: 80px;
    width: 190px;
    left: 200px;
    top: -85px;
    z-index: 1;
    text-align: center;
    font-size: 40px;
}

h1 {
    font-size: 30px;
    color: turquoise;
    margin: 10px;
    padding: 10px;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(../images/greyfloral.png);
    margin: 0%;
}

.content {
    background-color: white;
    width: 960px;
    line-height: 150%;
    align-content: center;
    height: 100%;
}


img {
    height: 200px;
    width: 200px;
    margin: 10px;
    float: left;
}

footer {
    background-color: gray;
    color: white;
    border-top-style: solid;
    border-top-color: turquoise;
    border-top-width: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0%;
    left: 0%;
}

form {
    margin: 20px;
}

#textbox {
    width: 900px;
}

h3 {
    clear:both;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: turquoise;
    height: 40px;
    width: 200px;
}

.leftpic {
    margin: 50px;
    position: relative
}

.rightpic {
    margin: 100px;
    left: 240px;
    top: -362px;
    position: relative;
}

@media screen and (max-width: 980px) {
    header {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        clear: both;
        width: 100%;
    }
    .container {
        height: 100%;
        width: 600px;
    }
    #content {
        overflow: auto;
    }
    form {
        width: 100%;
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 640px) {
    #name {
        width: 100%;
        left: 0%;
    }
    .container {
        height: 100%;
        width: 700px;
    }
    #content {
        overflow: auto;
    }
    
    image {
        clear: both;
        position: absolute;
    }
    form {
        width: 100%;
        margin: 10px;
        overflow: auto;
    }
    a {
        z-index: 5;
        float: left;
    }
}